{{ include "base.tmpl.html" }}
{{ include "head.tmpl.html" }}

{{ define "body" }}
<section class="container">
    <div class="login">
        <h1>{{ .AppName }} Login</h1>
        <form method="post" action="{{ .URLLogin }}">
            <p><input type="text" name="user" value="" placeholder="Username"></p>
            <p><input type="password" name="pass" value="" placeholder="Password"></p>
            <p class="remember_me">
                <label>
                    <input type="checkbox" name="remember_me" id="remember_me">
                    Remember me on this computer
                </label>
            </p>
            <p class="submit"><input type="submit" name="commit" value="Login"></p>
        </form>
    </div>
</section>
{{ end }}
