{{ include "/base.tmpl.html" }}
{{ include "head.tmpl.html" }}
{{ include "/nav.tmpl.html" }}
{{ include "/footer.tmpl.html" }}
{{ include "/nav_footer.tmpl.html" }}
{{ include "scripts_body.tmpl.html" }}

{{ define "content" }}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--1-col-tablet mdl-cell--0-col-phone"></div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
        <h1>{{ .PageTitle }}</h1>
        <p>{{ .Misc }}</p>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
</div>
{{ end }}
