<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en"> <!--<![endif]-->
<head>{{ template "head" . }}</head>
<body>
    <div class="mdl-layout__container">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-800">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">{{ .AppName }}</span>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation">
                        {{ template "nav" .NavHeader }}
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">{{ .AppName }}</span>
                <nav class="mdl-navigation">
                    {{ template "nav" .NavDrawer }}
                </nav>
            </div>
            <main class="mdl-layout__content">
                <div class="page-content">
                    {{ template "content" . }}
                </div>

                {{ template "footer" .Footer }}
            </main>
        </div>
    </div>
</body>
</html>
