{{ define "footer" }}
{{ if .ColsDropdownFlag }}
    <footer class="mdl-mega-footer">
        <div class="mdl-mega-footer__middle-section">
            {{ range .ColsDropdown }}
                <div class="mdl-mega-footer__drop-down-section">
                    <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked />
                    <h1 class="mdl-mega-footer__heading">{{ .ItemsTitle }}</h1>
                    <ul class="mdl-mega-footer__link-list">
                        {{ template "nav_footer" . }}
                    </ul>
                </div>
            {{ end }}
        </div>

        <div class="mdl-mega-footer__bottom-section">
            <div class="mdl-logo"></div>
            <ul class="mdl-mega-footer__link-list">
                {{ template "nav_footer" .RowBottom }}
            </ul>
        </div>
    </footer>
{{ else }}
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo"></div>
            <ul class="mdl-mini-footer__link-list">
                {{ template "nav_footer" .RowBottom }}
            </ul>
        </div>
    </footer>
{{ end }}
{{ end }}
